@*@using Menu.Models
    @model IEnumerable<MenuItem>


    @helper BuildMenu(IEnumerable<MenuItem> data, int? parentId = null)
    {
    var items = data.Where(m => m.ParentId == parentId).OrderBy(o => o.Order);

    if (items.Any())
    {
    <ul>
        @foreach (var item in items)
        {

            <li><a href="@item.Url">@item.Header</a></li>
            @BuildMenu(data, item.Id)

        }
    </ul>
        }
    }*@

@*<div id="cssmenu">
        @BuildMenu(Model)
    </div>*@


@using Menu.Models
@model IEnumerable<MenuItem>

@helper BuildMenu(IEnumerable<MenuItem> data, int? parentId = null)
{
    var items = data.Where(d => d.ParentId == parentId).OrderBy(i => i.Order);
    if (items.Any())
    {
        <ul>
            @foreach (var item in items)
            {
            <li>
                <a href="@item.Url">@item.Header</a>
            </li>
                    @BuildMenu(data, item.Id)
              
            }
        </ul>
    }
}

<div id="cssmenu">
    @BuildMenu(Model)
</div>